body {
	font-family: 'Roboto Mono', monospace;
	font-size: 1.2em;
	font-weight: bold;
	height: 100%;
	margin: 0px;
	padding: 0px;
	max-height: 100%;
	max-width: 100%;
	background: #00CEFF;
}

header img {
	max-width: 45%;
	padding-top: 40px;
}

main img {
	max-width: 60%;
}

main {
	padding: 0px 40px;
	position: relative;
}

.poem:hover:after {
	content: url(../images/meltingclockpoem.gif);
	position: absolute;
	top: -300px;
	left: -120px;
	z-index: -1;
}

.flex {
	display: flex;
}

.other img {
	width: 400px;
}

.other3 img {
	width: 200px;
}

footer {
	margin: 100px;
}

.lineup {
	display: flex;
}

.lineup img {
	max-width: 100%;
}

.who {
	position: relative;
}

.who-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.who:hover .who-bot {
	display: inline;
}

.what {
	position: relative;
}

.what-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.what:hover .what-bot {
	display: inline;
}

.where {
	position: relative;
}

.where-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.where:hover .where-bot {
	display: inline;
}

.when {
	position: relative;
}

.when-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.when:hover .when-bot {
	display: inline;
}

.why {
	position: relative;
}

.why-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.why:hover .why-bot {
	display: inline;
}

.how {
	position: relative;
}

.how-bot {
	position: absolute;
	z-index: 99;
	display: none;
}

.how:hover .how-bot {
	display: inline;
}

.lineup:hover:after {
	content: url(../images/question.gif);
	
}


.main {
	display: none;
}

.reveal {
	display: none;
}





	
	